#root {
  /*max-width: 1280px;*/
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  column-gap: 2em;

  @media (min-width: 36rem) {
    flex-direction: row;
  }
}

.main {
  padding: 0 2em;
  width: 100%;
  text-align: left;
  @media (min-width: 36rem) {
    width: 70%;
  }
}

.sidebar {
  width: 100%;
  background-color: #f9f9f9;
  @media (min-width: 36rem) {
    width: 30%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.summary {
  padding: 2em;
}

.summary__list {
  padding: 0;
  list-style: none;
}

.summary__list-item,
.summary__list-item-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.summary__list-item-total {
  margin-top: 1em;
  border-top: 0.1em solid #e2e2e2;
  font-weight: bold;
  text-transform: uppercase;
}

.summary__list-item-price {
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}
